@model List<BookStore.Web.Models.Book>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    @foreach (var item in Model)
    {

        <div class="col-md-3 col-sm-4">
            <p>
                <img src="@item.ImageUrl"/>
            </p>
            <p>@item.Title</p>
        </div>
    }

    
</div>