
<div class="row" style="margin-top:15px">
    <h2 style="text-align:center">租车规则</h2>
    <br />
    <h4>
        <span>1、</span>租车人来提车时必须携带有效身份证或相关可证明身份分的证件。
    </h4>
    <h4>
        <span>2、</span>驾驶人必须出示驾驶证。
    </h4>
    <h4>
        <span>3、</span>车辆使用期间，我们公司将收一部分押金，押金将按租金的百分之二十收取。
    </h4>
    <h4>
        <span>4、</span>如果租车人没有在网上付款，我们将不保证一定给您预留车辆，给您带来的不便我们表示抱歉。
    </h4>
    <h4>
        <span>5、</span>已经在网上付款的订单，我们将为你保留车辆，并且你可以免费提前四天取消订单。
    </h4>
    <h4>
        <span>6、</span>已经在网上付款的订单，提前三天以内取消订单，我们将按以下方法扣一部分钱：
    </h4>
    <div style="color:blue">
        <h5>
            （1）提前三天取消订单:将扣除租金的百分之五;
        </h5>
        <h5>
            （2）提前两天取消订单:将扣除租金的百分之十;
        </h5>
        <h5>
            （3）提前一天取消订单:将扣除租金的百分之十五;
        </h5>
        <h5>
            （4）用车当天取消订单:将扣除租金的百分之五十;
        </h5>
    </div>

</div>