@model List<CarsRent.Models.Car>

@{
    ViewBag.Title = "Home Page";
}
<div>
    <div>
        <br />
    </div>
    <div class="row">
        <div id="myCarousel" class="carousel slide">
            <!-- 轮播（Carousel）指标 -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/Images/images/slideshow-image1.jpg" alt="First slide">
                    <div class="carousel-caption"><h2>有车在手 说走就走</h2></div>
                </div>
                <div class="item">
                    <img src="~/Images/images/slideshow-image2.jpg" alt="Second slide">
                    <div class="carousel-caption"><h2>有车在手 说走就走</h2></div>
                </div>
                <div class="item">
                    <img src="~/Images/images/slideshow-image3.jpg" alt="Third slide">
                    <div class="carousel-caption"><h2>有车在手 说走就走</h2></div>
                </div>
            </div>
            <!-- 轮播（Carousel）导航 -->
            <a class="carousel-control left" href="#myCarousel"
               data-slide="prev" style="vertical-align:middle;">
                <span class="glyphicon glyphicon-chevron-left "></span>
            </a>
            <a class="carousel-control right" href="#myCarousel"
               data-slide="next" style="vertical-align:middle;">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>

    <div class="row" style="margin-top:15px" >
        <div class="header">
            <h2>FEATURED CARS</h2>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-3">
                <div class="wrap-col">
                    <div class="item t-center">
                        <div class="item-container">
                            <div class="item-caption">
                                <div class="item-caption-inner">
                                    <div class="item-caption-inner1">
                                        <span>2006 / 32,000 km / 250 HP / petrol / automatic /  Sports car/Coupe / Beige</span>
                                    </div>
                                </div>
                            </div>
                            <img src="~/Images/images/Car.jpg" />
                        </div>
                        <div class="item-info">
                            <h3>轻捷、快速、省油</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-3">
                <div class="wrap-col">
                    <div class="item t-center">
                        <div class="item-container">
                            <div class="item-caption">
                                <div class="item-caption-inner">
                                    <div class="item-caption-inner1">
                                        <span>2006 / 32,000 km / 250 HP / petrol / automatic /  Sports car/Coupe / Beige</span>
                                    </div>
                                </div>
                            </div>
                            <img src="~/Images/images/Suv.jpg" />
                        </div>
                        <div class="item-info">
                            <h3>强劲节能，适合各种路况</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-3">
                <div class="wrap-col">
                    <div class="item t-center">
                        <div class="item-container">
                            <div class="item-caption">
                                <div class="item-caption-inner">
                                    <div class="item-caption-inner1">
                                        <span>2006 / 32,000 km / 250 HP / petrol / automatic /  Sports car/Coupe / Beige</span>
                                    </div>
                                </div>
                            </div>
                            <img src="~/Images/images/van.jpg" />
                        </div>
                        <div class="item-info">
                            <h3>宽敞、舒适</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:15px">
                <!---- Start Widget ---->
                <div class="widget wid-post col-md-6">
                    <div class="wid-header">
                        <h5>联系我们</h5>
                    </div>
                    <div class="wid-content">
                        <ul class="list-group" style="font-size:16px">
                            <li><label>公司：</label><span>青岛大学汽车租赁公司</span></li>
                            <li><label>联系人：</label><span>张经理</span></li>
                            <li><label>电话：</label><span>13188886666</span></li>
                            <li><label>邮箱：</label><span>888888@qq.com</span></li>
                            <li><label>地址：</label><span>青岛市宁夏路308号青岛大学</span></li>
                        </ul>
                    </div>
                </div>
                <!---- Start Widget ---->
                <div class="widget wid-post col-md-6">
                    <div class="wid-header">
                        <h5>关于租车</h5>
                    </div>
                    <div class="wid-content" style="font-size:16px">
                        <p>用户取车时,驾驶人必须出示具有驾驶资格的相关证件或说明，证明目前具有驾驶车辆的资格！</p>
                        <p>我们公司支持网上下订单，可以网上支付和到场支付，到场支付不保留车辆，不保证到场一定有车，但你可以提前查询所要租赁的车辆的数量！</p>
                        <p>网上已经支付的订单，距离用车时间多余5天以上可以免费取消！少于5天要扣除相应押金！</p>
                        <p>具体扣除规请详见租车规则:<a href="/Home/About">《租车规则》</a></p>
                        
                    </div>
                </div>
  
            </div>
        </div>