@model IEnumerable<CarsRent.Models.User>

@{
    ViewBag.Title = "Index";
}



<div class="row" style="margin-top:10px">
    <div class="table-responsive margin-bottom-30">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>User Table</h4>
            </div>
            <div class="panel-body">

                <div style="float:right;background:#f6f6f6" >
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <span class="navbar-brand" href="#">用户查找:</span>
                        </div>
                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" id="user_info" class="form-control" placeholder="姓名或电话">
                            </div>
                            <a id="btn-search" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></a>
                        </form>
                        </div>
                    </div>
                <div id="user_list">
                    @{Html.RenderAction("UserList", "ManagerUser");}                   
                </div>

            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btn-search").click(function () {
                var userInfo = $("#user_info").val();
                    $.ajax({
                        type: "POST",
                        url: "/ManagerUser/UserList",
                        data: { UserInfo: userInfo },
                        datatype: "json",
                        success: function (date) {
                            $("#user_list").html(date);
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert(errorThrown);
                        }
                    })
            })
        })
    </script>
 }

