@model IEnumerable<CarsRent.Models.Car>
@using X.PagedList.Mvc
@using X.PagedList

@{
    ViewBag.Title = "Index";
}

<div class="wrap-body" style="margin-top:5px">
    <div class="row bg-theme" style="border:solid 1px #ddd;padding:10px;background:#bcd5ea">
            <div class="filter nav_seach">
                <div class="col-sm-1 col-md-2">
                    <div class="wrap-col">
                        <span>车的品牌 :</span><br />
                        <select id="Brand_list">
                            <option>--ALL--</option>
                            @foreach (CarsRent.Models.Brand item in ViewBag.Brand)
                            {
                                <option data-id="@item.BrandId">@item.BrandName</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-1 col-md-2">
                    <div class="wrap-col">
                        <span>车型 :</span><br />
                        <select id="Category_list">
                            <option>--ALL--</option>
                            @foreach (CarsRent.Models.Categroy item in ViewBag.Category)
                            {
                                <option data-id="@item.CategoryId">@item.CategoryName</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-1 col-md-2">
                    <div class="wrap-col">
                        <br>
                        <a id="btn-check" class="button bt1">Search</a>
                    </div>
                </div>
            </div>
        <div style="float:right;">
            <ul class="list-group">
                <li>
                    <form class="navbar-form navbar-left" role="search">
                        <a class="btn btn-default" href="/ManagerCars/Create">添加新车</a>
                        <a class="btn btn-default" href="/ManagerCars/CreateBrand">添加品牌</a>
                        <a class="btn btn-default" href="/ManagerCars/CreateCategroy">添加车型</a>
                    </form>
                </li>
                <li>
                    <form class="navbar-form navbar-left" role="search" style="float:right">
                        <div class="form-group">
                            <input type="text" id="car-name" class="form-control" placeholder="请在此处输入车名" onfocus = "this.placeholder = ''" onblur = "this.placeholder = '请在此处输入车名'">
                        </div>
                        <a id="btn-search" class="btn btn-default" ><span class="glyphicon glyphicon-search"></span></a>
                    </form>
                </li>
            </ul>
 
        </div>
    </div>
</div>
<div class="row" style="border:solid 1px #ddd" id="div_carList">
    @{Html.RenderAction("ListCar", "ManagerCars");}
</div>


<style>
    .nav_seach{
        color:black;
        padding:0px;
        font-size:20px
    }
    thead{
        font-size:20px;
    }
</style>
@section Scripts {
    <link rel="stylesheet" href="~/Content/MyStyle.css" />
    <script src="~/Scripts/bootbox.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btn-search").click(function () {
                 var CarName = $("#car-name").val();
                if (CarName =="") {
                    alert("查找内容不能为空！");
                }
                else {
                    $.ajax({
                        type: "POST",
                        url: "/ManagerCars/ListCar",
                        data: { carName: CarName },
                        datatype: "json",
                        success: function (date) {
                            $("#div_carList").html(date);
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert(errorThrown);
                        }
                    })
                }

            })
            $("#btn-check").click(function () {
                var brandId = $("#Brand_list").find("option:selected").attr("data-id");
                var categoryId = $("#Category_list").find("option:selected").attr("data-id");
                $.ajax({
                    type: "POST",
                    url: "/ManagerCars/ListCarCheck",
                    data: { BrandID: brandId, CategroyID: categoryId },
                    datatype: "json",
                    success: function (date) {
                        $("#div_carList").html(date);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                })
            })
        })

    </script>
}